@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white antialiased;
}

.ql-editor {
  background-color: #1f2937 !important;
  color: white !important;
}

.ql-toolbar {
  background-color: #374151 !important;
  border-color: #4b5563 !important;
}